{% extends 'base.html' %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}

{% block content %}
    {% for post in page %}
        <h3>
            Автор:
                <a href="{% url 'profile' post.author.username %}" style="color:#000000; text-decoration:none">
                    {{ post.author.get_full_name }},
                </a>
            Дата публикации:
                {{ post.pub_date|date:"d M Y" }}
        </h3>
        <p>
            <a href="{% url 'post' post.author post.id %}" style="color:#000000; text-decoration:none" >
                {{ post.text|linebreaksbr }}
            </a>
        </p>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    {% include "paginator.html" %}
{% endblock %}
